# Entorno virtual
.venv/
venv/

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log o temporales
*.log
*.tmp
*.swp

# Archivos de configuración de IDEs
.vscode/
.idea/

#Carpetas
test-images/

#Archivos de prueba
test.py